@media screen and (max-width: 1024px) {
  .header {
    height: 55vh;
    clip-path: polygon(0 0, 100% 0, 100% 48vh, 0 100%);
  }
  .header__logo-box {
    top: 3rem;
    left: 3rem;
  }
  .heading-secondary {
    margin-top: 15rem;
  }
  .composition__photo--p3 {
    margin-bottom: 2rem;
  }
  .firstBox {
    margin-left: 12rem;
  }
  .section-features {
    max-width: auto;
    max-height: 65rem;
  }
  .feature-box {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem;
  }
  .header__logo-box {
    top: 2rem;
    left: 2rem;
  }
  .header__logo {
    height: 3rem;
  }
  .heading-secondary {
    margin-top: 20rem;
  }
  .section-features {
    max-width: auto;
    max-height: 45rem;
    padding: 6rem;
  }
  .section-about {
    padding: 8rem 0;
  }
  .feature-box__text {
    font-size: 1rem;
  }
  .feature-box__icon {
    font-size: 2rem;
  }
  .feature-box {
    margin-top: 1rem;
  }
  .firstBox {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 414px) {
  body {
    padding: 1rem;
  }
  .header__logo-box {
    top: 2rem;
    left: 2rem;
  }
  .heading-primary--main {
    letter-spacing: 2rem;
    font-size: 5rem;
  }
  .margin-bottom-big {
    margin-bottom: 2rem;
    margin-top: 0rem;
  }
  .composition__photo--p3 {
    margin-bottom: 6rem;
  }
  .feature-box {
    margin-top: 3rem;
  }
  .section-features {
    max-width: auto;
    max-height: 120rem;
    padding: 6rem;
  }
  .firstBox {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 1rem;
  }
  .header {
    max-width: auto;
    max-height: 55rem;
    clip-path: polygon(0 0, 100% 0, 100% 48vh, 0 100%);
  }
  .header__logo-box {
    top: 2rem;
    left: 2rem;
  }
  .heading-primary--main {
    letter-spacing: 1.5rem;
    font-size: 4rem;
  }
  .margin-bottom-big {
    margin-bottom: 3rem;
  }
  .section-about {
    padding-bottom: 5rem;
  }
  .composition__photo--p3 {
    margin-bottom: 6rem;
    left: 15%;
    top: 12rem;
    position: relative;
  }
  .feature-box {
    margin-top: 1rem;
  }
  .section-features {
    max-width: auto;
    max-height: 80rem;
  
  }
  .firstBox {
    margin-left: 0rem;
    margin-top: 5rem;
  }
  .lastBox {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 320px) {
  body {
    padding: 1rem;
  }
  .header__logo {
    height: 1.5rem;
  }
  .heading-secondary {
    margin-top: 6rem;
    font-size: 2rem;
  }
  .section-features {
    max-width: auto;
    max-height: 120rem;
    padding: 6rem;
  }
  .header__logo-box {
    top: 1rem;
    left: 1rem;
  }
  .composition__photo--p3 {
    left: 15%;
    top: 10rem;
    position: relative;
    margin-bottom: 6rem;
  }
}
