/* project section  */

/* colors used
#ffae19
#ffa500
#ff8c00
#fffafa
#777
#f7f7f7 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Marvel", sans-serif;
  font-weight: 400;

  /* font-size: 16px; */

  line-height: 1.7;
  color: #fffafa;
  padding: 3rem;
}

.section-projects {
    color: #777;
    padding: 10rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 174, 25, 0.8),
        rgba(255, 140, 0, 0.8)
      ),
      url(../images/orange.jpg);
      background-size: cover;
    
      transform: skewY(-4deg);
     
  }
  
  .section-projects> * {
    transform: skewY(4deg);
  }
  
  .project-box {
    background-color: rgba(255, 250, 250, .7) ;
    font-size: 1.5rem;
    margin-top: 4rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    transition: transform .3s;
    text-decoration: none;
    color: #777;
  }
  
  .project-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ffae19, #ff8c00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .project-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    text-decoration: none;
    color: #777;
  }
  
  /* .project-box__text:hover {
  
  } */
  
  .project1 {
    position: relative;
    margin-left: 17rem;
  }
  